* {
	margin:  0;
	padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    /*max-width:100%*/
}

h6 {
    text-decoration: underline;
    padding:20px;
}

.navbar {
    position:fixed;
    width:100%;
    height: 70px;
    background-color: #ffffff;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo  {
    height: 70px;
    margin-right: 10px;
    left: 200px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #ff7f00;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #e65c00;
}

.container {
    text-align: center;
    width: 70%;
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.box {
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    color: white;
    font-size: 1.2em;
}

.orange {
    background-color: #f28c00;
}

.gray {
    background-color: #9e9e9e;
}

.yellow {
    background-color: #fbc02d;
}

.blue {
    background-color: #1976d2;
}
.container-one-heading{margin:25px;}
.trust-circles{
    width:900px;
    height:-300px;
    margin: 20px auto;
}
.circle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.circle {
    background-color: #fbc02d;
    color: black;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.quote {
    display: flex;
    align-items: center;
    text-align: center;
}

.quote img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-right: 20px;
}

.quote p {
    font-style: italic;
}

p {
	width: 100%;
	height: 100%;
    text-align: center;
}

#miss-khumalo-header{
    margin-top: 150px;
}

.books {
    display: flex;
    justify-content: space-evenly;
}


.democracy-img,
.patriotism-img {
    width: 400px;
    height: 400px;
}

.patriotism-img {
    position: relative;
    top: -290px;
    right: -20px;
    margin-top: 20px;
}

.democracy-img {
    position: relative;
    top: -630px;
    left: -20px;
    margin-bottom: -20px;
}

.miss-khumalo {
    width: 700px;
    height: 700px;
    align-items: center;
    justify-content: center;
    margin-left: 380px;   
}

.project-pilot {
    text-align:center;
    margin-top: 80px;
}
.page-logo {
    margin: 0 auto;
    width: 350px;
    height: 100px;
}

.newsletter-container {
    margin:auto;
    width:750px;
    background-color: #e65c00;
    width:1000px;
    background-color: #ED7D31;
}

/* if possible align text to the circle, if anyone can*/

#circle-one {
    background-color: #fbc02d;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    text-align: center;
    position: absolute;
    left: 30%;
    margin-top: 50px;
}

#circle-two {
    background-color: #fbc02d;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    text-align: center;
    position: relative;
    left: 50%;
    margin-top: 200px;
    margin-bottom: 50px;
}

.para-one {
    position: relative;
    bottom: -100px;
}

.para-two {
    position: relative;
    bottom: -50px;
}

.newsletter-heading {
    text-align: center;
    color: #ffffff;
}

.newsletter-heading {
    text-align: center;
    color: #ffffff;
}

.newsletter-text {
    text-align: center;
    color: #ffffff;
}

form {
    margin: auto;
    padding-left: 180px;
}

.input-email {
    width: 350px;
    height: 50px;
    margin: 0 auto; 
    border: none;
    position:relative;
    left:-90px;
}

.subscribe-button {
    width: 145px;
    height: 50px;
    border: none;
    background-color:#F09150;
    color: #ffffff;
    position:relative;
    left:-100px
}

.contact-heading {
    text-align: center;
    color: #ffffff;
}

.phone {
    display: flex;
    position: relative;
    right: -30px;
}

.email {
    position: relative;
    right: -30px;
}

.email-link {
    text-decoration: none;
    color:#ffffff;
}

.phone-number {
    color: #ffffff;
}

.fa-solid {
    color: #ffffff;
}

.copyright,
.creation,
.registration {
    text-align: center;
    color: #ffffff;
}

.newsletter-text {
    text-align: center;
    color: #ffffff;
}

form {
    margin: 50px auto;
    padding-left: 180px;
}

.input-email {
    width: 245px;
    height: 50px;
    margin: 0 auto; 
    border: none;
}

.subscribe-button {
    width: 145px;
    height: 50px;
    border: none;
    background-color: #F09150;
    color: #ffffff;
}

.contact-heading {
    text-align: center;
    color: #ffffff;
}

.phone {
    display: flex;
}

@media(max-width: 576px){
    body{max-width:100%;
    }
    .navbar{width: 100%;}
    h1{text-align:center;
    font-size: small;}
    .circle{width:50px;
    height:260px;}
    .trust-circles{width:75%;
    font-weight:light;
font-size:12px;}
    .boxes-container{
        margin:auto;
        width:75%;
    height: -100px;
font-weight:light;
font-size:12px;}
    .what-we-offer-container{
        margin:auto;
        width:75%;
        height:-350px;
        padding:20px;
        font-weight:light;
        font-size:14px;
    }
    .sample-books-container{
        margin:auto;
        width:75%;
        height: -400px;
        font-weight: light;
        font-size:14px;
    }
    .books{margin:auto;
    width:75%;
    height:-350px;
}
.democracy-img{
    position:relative;
    top:-310px;
left:-10px;}
    .patriotism-img{
        position:relative;
        top:-120px;
        right:-10px;
    }
    .book-title{font-weight: 60;
    font-size:small;
padding:5px;}
.teacher-container{margin:auto;
width:250px;
height:-300px;
padding:10px;}
.project-pilot-container{margin:auto;
width:75%;
height:-250px;
font-weight:light;
font-size:11px;}
.intentions-circle{
    position:relative;
}
#circle-one,
#circle-two{position:relative;
width:220px;
height:220px;}
#circle-one{position:relative;
left:-20px;
bottom:-20px;}
#circle-two{position:relative;
left:80px;
top:-50px;
}
.para-one{position:relative;
top:65px;}
.para-two{position:relative;
top:23px;}
.newsletter-container{margin:auto;
width:75%;}
/*form{position:relative;
left:150px;}*/
.input-email{width:160px;
position:relative;
right:150px;}
.subscribe-button{position:relative;
right:-140px;
top:-50px;
width:110px;}
.quote-container{margin:auto;
position:relative;
width:200px;
height:500px;
display:flex;
flex-direction: column;}
.nelson-mandela{margin:auto;
position:relative;
top:-130px;
left:100px;
width:120px;
height:120px;
margin:auto;
}
.quote-text{margin:auto;
width:200px;
height:250px;
position:relative;
right:110px;
bottom:-120px;
font-weight:light;
font-size:12px;}
}
@media(min-width:768px),(max-width:1023px){
body{max-width:100%;}
.project-pilot-container{
font-weight:normal;
font-size:12px;}
#circle-one,
#circle-two{
    width:250px;
    height:250px;
}
#circle-two{position:relative;
right:80px;}
.para-one{position:relative;
top:75px;}
.para-two{position:relative;
top:35px;}
.what-we-offer-container{
padding:20px;
max-width:100%;}
.quote-container{padding:70px;
}
.circle-container{
margin:auto;}
.sample-books-container{margin:auto;}
.democracy-img{position:relative;
top:-550px;}
.patriotism-img{position:relative;
top:-250px;}

}